<div id="app">
    <h1 id="title">Loja informática</h1>

    <mat-card class="card-add">
        <mat-card-content class="card-add-content">
            <mat-form-field appearance="fill">
                <mat-label>Marca</mat-label>
                <input matInput [(ngModel)]="smartphoneInput.brand" placeholder="Marca">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Modelo</mat-label>
                <input matInput [(ngModel)]="smartphoneInput.model" placeholder="Modelo">
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Preço</mat-label>
                <input matInput [(ngModel)]="smartphoneInput.price" placeholder="Preço">
            </mat-form-field>

            <button id="button-submit" (click)="add()" mat-raised-button color="primary">Adicionar</button>
        </mat-card-content>
    </mat-card>

    <div class="smartphone-container">
        <mat-card class="smartphone-card" *ngFor="let item of storage">
            <mat-card-header class="smartphone-card-header">
                <p class="smartphone-card-price">{{item.price}}</p>
                <p class="smartphone-card-title">{{item.brand}} {{item.model}}</p>

                <div class="smartphone-card-header-buttons">
                    <button mat-icon-button color="primary" (click)="edit(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="delete(item.model)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </mat-card-header>
            <mat-card-content>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis id voluptatibus esse
                libero numquam praesentium perferendis expedita quae veritatis suscipit dolores, incidunt beatae quaerat
                blanditiis, possimus adipisci harum dolorum!
            </mat-card-content>
        </mat-card>
    </div>
</div>